@page "/addhero"
@rendermode InteractiveServer
@inject IHeroService HeroService

<div class="form-group p-4">
    <input @bind="heroname" placeholder="Hero name" class="form-control w-25"/><br>
    <input @bind="name" placeholder="Real name" class="form-control w-25"/><br>
    <input @bind="city" placeholder="City" class="form-control w-25"/><br>
    <input @bind="birthdate" type="date" class="form-control w-25"/><br>
    <button class="btn btn-outline-success" @onclick="AddSuperHero">Add hero</button>
</div>

@code{
    string heroname = "";
    string name = "";
    string city = "";
    DateTime birthdate = new DateTime();

    public void AddSuperHero()
    {
        if(string.IsNullOrEmpty(heroname)) return;
        if(string.IsNullOrEmpty(name)) name = "unknown";
        if(string.IsNullOrEmpty(city)) city = "unknown";

        HeroService.AddHero(new SuperHero() { Id = 0, HeroName = heroname, Name = name, City = city, DateOfBirth = birthdate });

        heroname = string.Empty;
        name = string.Empty;
        city = string.Empty;
        birthdate = DateTime.MinValue;
    }
}