@page "/edithero/{Id:int}"
@inject IHeroService HeroService
@rendermode InteractiveServer

@if(hero is null)
{
    <h3>Loading...</h3>
}
else
{
    <div class="p-4">
        <input @bind="hero.HeroName" class="form-control w-25"/><br>
        <input @bind="hero.Name" class="form-control w-25"/><br>
        <input @bind="hero.City" class="form-control w-25"/><br>
        <input @bind="hero.DateOfBirth" class="form-control w-25"/><br>
        <a href="/superherolist" style="text-decoration: none;" ><button class="btn btn-outline-success" @onclick="SaveChanges">Save Changes</button></a>
    </div>
}

@functions{
    [Parameter]
    public int? Id { get; set; }
    SuperHero? hero;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine($"ID:{Id}");
        List<SuperHero> heroes = await HeroService.GetHeroes();
        
        hero = heroes.FirstOrDefault(x => x.Id == Id);
    }

    public void SaveChanges()
    {   
        HeroService.UpdateHero(hero);
    }
}
